<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        Care Smith
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
                <li>
                    <a>
                        Blog
                    </a>
                </li>
                <li>
                    <a>
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a >Care Smith</a> for a better web.
        </div>
    </div>
</footer>
