<!-- <div class="table-responsive">
    <div class="row d-flex m-0" style="justify-content: right;" >
      <div class="form-group has-search col-sm-3">
        <button class="btn btn-secondary" type="button" style="z-index: 1001;
        position: absolute;
        background: none;
        top: -1px;
        left: 21px;">
          <i class="fa fa-search" style="color: #d2d2d2;"></i>
        </button>
        <input type="text" class="form-control" placeholder="Search"  id="Filter" #input  (keyup)="applyFilter($event)" style="padding-left: 32px; border-radius: 1.25rem;">
      </div>
     </div>
  </div> -->
<div class="table-responsive">
  <div class="mat-elevation-z8">
    <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color: rgb(223 233 237 / 87%);" matSort >

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef>Order No </th>
        <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="SKU">
        <th mat-header-cell *matHeaderCellDef> SKU</th>
        <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef> Qty </th>
        <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
</mat-paginator> -->