<div class="main-content">
  <div class="container-fluid" style="padding-top: 37px;
  ">
      <div class="row">
          <div class="col-md-12">
              <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                  <mat-tab label="Total-order">
                    <app-total-order></app-total-order>
                  </mat-tab> 
                  <mat-tab label=" Under-production">
                    <app-under-production></app-under-production>
                  </mat-tab> 
                  <mat-tab label="InTransit">
                    <app-intransit></app-intransit>
                  </mat-tab> 
                  <mat-tab label="Customer-clearance">
                    <app-customer-clearance></app-customer-clearance>
                  </mat-tab> 
              </mat-tab-group>
          </div>
      </div>
  </div>
</div>