.main-content {
    background-color: white;
  }
input, 
textarea{
  border: 1px solid #d2d2d2; 
  border-radius: 0.25rem;
  padding-left: 10px; 
  padding-top: 10px; 
  font-family: auto;
  height: 26px;

}
td i{
  border: 1px solid #d2d2d2; 
  height: 22px;
  width: 22px;
  float: right;
  cursor: pointer;
  text-align: center;
  line-height: 22px;
  border-radius: 22px;
  margin: 0px 2px;
 }
 .icon{
  display: flex;
  justify-content: center;
 }
table {
  width: 100%;
}
th.mat-header-cell {
  text-align: center;
}
table ,th {
  color: white;
  background-color: #349784;
}
table th{ 
  font-size: 15px;
  font-weight: 600;
}
th.mat-header-cell:first-of-type,td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left: 0;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}
.mat-cell {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
}

tr.mat-row {
  height: 26px;
}
tr.mat-header-row {
  height: 30px;
  font-weight: 600;
}