<div class="main-content">
  <div class="container-fluid" style="    padding-top: 37px;">
    <div class="row mt-2">
      <!-- table 1  -->
     <div class="col-lg-3 col-md-6 col-sm-6">
       <div class="table-responsive">
         <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
          <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef>Order No </th>
        <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="SKU">
        <th mat-header-cell *matHeaderCellDef> SKU</th>
        <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef> Qty </th>
        <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
</div>

  <!-- table 1  -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="table-responsive">
      <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
       <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

   <ng-container matColumnDef="OrderNo">
     <th mat-header-cell *matHeaderCellDef>Order No </th>
     <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
   </ng-container>

   <ng-container matColumnDef="SKU">
     <th mat-header-cell *matHeaderCellDef> SKU</th>
     <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
   </ng-container>

   <ng-container matColumnDef="Qty">
     <th mat-header-cell *matHeaderCellDef> Qty </th>
     <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
   </ng-container>

   <ng-container matColumnDef="Date">
     <th mat-header-cell *matHeaderCellDef> Date </th>
     <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <tr class="mat-row" *matNoDataRow>
     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
   </tr>
 </table>
</div>
</div>
</div>

  <!-- table 1  -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="table-responsive">
      <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
       <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

   <ng-container matColumnDef="OrderNo">
     <th mat-header-cell *matHeaderCellDef>Order No </th>
     <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
   </ng-container>

   <ng-container matColumnDef="SKU">
     <th mat-header-cell *matHeaderCellDef> SKU</th>
     <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
   </ng-container>

   <ng-container matColumnDef="Qty">
     <th mat-header-cell *matHeaderCellDef> Qty </th>
     <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
   </ng-container>

   <ng-container matColumnDef="Date">
     <th mat-header-cell *matHeaderCellDef> Date </th>
     <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <tr class="mat-row" *matNoDataRow>
     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
   </tr>
 </table>
</div>
</div>
</div>

  <!-- table 1  -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="table-responsive">
      <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
       <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

   <ng-container matColumnDef="OrderNo">
     <th mat-header-cell *matHeaderCellDef>Order No </th>
     <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
   </ng-container>

   <ng-container matColumnDef="SKU">
     <th mat-header-cell *matHeaderCellDef> SKU</th>
     <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
   </ng-container>

   <ng-container matColumnDef="Qty">
     <th mat-header-cell *matHeaderCellDef> Qty </th>
     <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
   </ng-container>

   <ng-container matColumnDef="Date">
     <th mat-header-cell *matHeaderCellDef> Date </th>
     <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <tr class="mat-row" *matNoDataRow>
     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
   </tr>
 </table>
</div>
</div>
</div>

</div>

<div class="row mt-4">
   <!-- table 1  -->
   <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="table-responsive">
      <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
       <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

   <ng-container matColumnDef="OrderNo">
     <th mat-header-cell *matHeaderCellDef>Order No </th>
     <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
   </ng-container>

   <ng-container matColumnDef="SKU">
     <th mat-header-cell *matHeaderCellDef> SKU</th>
     <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
   </ng-container>

   <ng-container matColumnDef="Qty">
     <th mat-header-cell *matHeaderCellDef> Qty </th>
     <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
   </ng-container>

   <ng-container matColumnDef="Date">
     <th mat-header-cell *matHeaderCellDef> Date </th>
     <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <tr class="mat-row" *matNoDataRow>
     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
   </tr>
 </table>
</div>
</div>
</div>

 <!-- table 1  -->
 <div class="col-lg-4 col-md-6 col-sm-6">
  <div class="table-responsive">
    <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
     <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

 <ng-container matColumnDef="OrderNo">
   <th mat-header-cell *matHeaderCellDef>Order No </th>
   <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
 </ng-container>

 <ng-container matColumnDef="SKU">
   <th mat-header-cell *matHeaderCellDef> SKU</th>
   <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
 </ng-container>

 <ng-container matColumnDef="Qty">
   <th mat-header-cell *matHeaderCellDef> Qty </th>
   <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
 </ng-container>

 <ng-container matColumnDef="Date">
   <th mat-header-cell *matHeaderCellDef> Date </th>
   <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 <tr class="mat-row" *matNoDataRow>
   <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
 </tr>
</table>
</div>
</div>
</div>

 <!-- table 1  -->
 <div class="col-lg-4 col-md-6 col-sm-6">
  <div class="table-responsive">
    <div class="mat-elevation-z8" style="display: flex; justify-content: center;">
     <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >

 <ng-container matColumnDef="OrderNo">
   <th mat-header-cell *matHeaderCellDef>Order No </th>
   <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
 </ng-container>

 <ng-container matColumnDef="SKU">
   <th mat-header-cell *matHeaderCellDef> SKU</th>
   <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
 </ng-container>

 <ng-container matColumnDef="Qty">
   <th mat-header-cell *matHeaderCellDef> Qty </th>
   <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
 </ng-container>

 <ng-container matColumnDef="Date">
   <th mat-header-cell *matHeaderCellDef> Date </th>
   <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 <tr class="mat-row" *matNoDataRow>
   <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
 </tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- 
<div class="main-content" style="margin-top: 57px;
padding: 9px 1px;">
  <div class="container-fluid">
      <div class="row" style="margin-top: -6px">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="table-responsive">
            <div class="mat-elevation-z8" style="display: flex;
            justify-content: center;">
              <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color:#c1dfda;" matSort >
          
                <ng-container matColumnDef="OrderNo">
                  <th mat-header-cell *matHeaderCellDef>Order No </th>
                  <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
                </ng-container>
          
                <ng-container matColumnDef="SKU">
                  <th mat-header-cell *matHeaderCellDef> SKU</th>
                  <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Qty">
                  <th mat-header-cell *matHeaderCellDef> Qty </th>
                  <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div> -->